.li-hover {
    margin-bottom: 10px;
}
li {
    width: 100%;
    margin: 10px 0  ;
    padding: 5px;
}
li:hover, li:focus {
    background-color: slategray;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}